# This file is a template for your untracked .env file.
# Copy this to a new file named .env and fill in the values.

# The port for express app, by default 3000
PORT=3000

# The URI for you mongodb
MONGO_URI=

# Salt rounds value for hashing passwords, default value is 10
SALT_ROUNDS=10

# Specifies the expiration time for jwt token, default value is 30 minutes
JWT_EXPIRES_IN="30m"

# You can generate it with this command : openssl rand -base64 32
JWT_SECRET=